*{
    margin: 5;
    padding: 0;
    font-family: Times New Roman;

}

header{
    background-image: url(istockphoto-1009726070-170667a.jpg);

    height: 200vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    float: center;
    
        border: 2px solid powderblue;
      
      

}


ul{
    

    float: right;
    list-style-type: none;
    margin-top: 3px;
    
}

ul li {
    display: inline-block;

}

ul li a{
    text-decoration: none;
    color: black ;
    padding: 5px 20 px;
    border:  1px solid black;
    transition: 0,6s ease;
    
}

ul li a hover{
    background-color: #fff;
    color: #000;
    padding: 20;

}

ul li.active a{
    background-color: #fff;
    color: #000;
}

.title img{
    float: left;
    width: 150px;
    height: auto;
    padding:20;

}

.main{
    max-width: 1200px;
    margin: auto;
    padding: 30;

}



.titlu h1{
    color: black;
    font-size: 70px;
    float: center;
    


   
}
